@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .input {
    @apply p-2 text-base rounded-lg;
  }

  .btn-primary {
    @apply bg-gray-800 text-slate-50 p-4 py-3 rounded-xl hover:scale-[1.02] hover:bg-gray-700 active:scale-100 active:bg-gray-600 ease-in duration-150;
  }
}
